.container {
  padding: 5px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--border-light);
  border-radius: 3px;

  .label {
    color: var(--text-light);
  }
}